@page
@model StudentInfoPortal.Pages.AddStudentModel
@{
    ViewData["Title"] = "Add Student";
}

<h2 class="mt-3 mb-3 text-success">Add New Student</h2>

<form method="post">
    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Student.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Branch</label>
        <input asp-for="Student.Branch" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Year</label>
        <input asp-for="Student.Year" class="form-control" />
    </div>
    <button class="btn btn-primary">Add Student</button>
    <a href="/Students" class="btn btn-outline-secondary">Cancel</a>
</form>
