@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Deployed via GitHub</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">Welcome to Student Info Portal</h1>
    <p class="lead">This web app is built and deployed live on Azure App Service.</p>
    <p><a class="btn btn-success btn-lg" href="/Student">View Student List</a></p>
</div>
